.contact-dashboard {
    flex: 1;
    display: flex;
}

.contact-box {
    flex: 3;
    position: relative;
}

.contact-list div:last-child {
    border-bottom: none;
}

.contact-items {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #0fb2ff26;
    cursor: pointer;
}

.contact-item {
    display: flex;
    flex: 1;
    margin-left: 10px;
}

.active-contact,
.contact-items:hover {
    background-color: var(--light-sky-color);
}