.tabs {
    display: flex;
    flex: 1;
    margin: 0 0 0 10px;
    padding: 0;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: var(--gray-color);
    padding: 10px;
    width: 100px;
    cursor: pointer;
    border-top: 1px double var(--border-color);
    border-right: 1px double var(--border-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tab:nth-child(1) {
    border-left: 1px double var(--border-color);
}

.tabs .tab:hover {
    font-weight: bold;
    background: var(--bg-color);
    z-index: 1;
}

.tab-active {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-bottom-width: 0;
    font-weight: bold;
    margin: -7px 0 -1px 0;
    z-index: 1;
}