.App,
.App input,
.App select {
  font-size: 14px;
}

.App h1 {
  text-align: center;
}

.container {
  margin: 0 4%;
}

.contact-list,
.contact-profile {
  border: 1px solid var(--border-color);
  box-shadow: 0px 1px 5px 0px var(--shadow-color);
  border-radius: 4px;
}

.empty-data {
  position: absolute;
  top: 50px;
  left: 50px;
}