:root {
  --bg-color: #ffffff;
  --black-color: #000000;
  --red-color: red;
  --border-color: #d9dddd;
  --light-sky-color: #0fb2ff17;
  --dark-sky-color: #43b7f5;
  --gray-color: #f5f5f5;
  --light-gray-color: #9e9e9e1a;
  --dark-gray-color: #80808017;
  --shadow-color: #9e9e9e47;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1500px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}