.contact-profile {
    flex: 1;
    margin-left: 20px;
    position: relative;
}

.profile-edit-btn {
    position: absolute;
    right: 0;
    padding: 18px;
    background-color: var(--dark-sky-color);
    color: var(--bg-color);
    font-weight: 700;
    width: 50px;
    cursor: pointer;
    text-align: center;
}

.profile-name-container {
    background-color: var(--dark-gray-color);
    width: 100%;
}

.profile-name {
    height: 50px;
    margin-left: 10px;
    font-weight: bold;
    border-style: none;
    outline: none;
    cursor: text;
    background-color: transparent;
}

.profile-values {
    border-style: none;
    outline: none;
    cursor: text;
}

.profile-items {
    height: 100px;
    border-bottom: 1px solid var(--light-sky-color);
}

.profile-sections {
    height: 70px;
    padding: 0 10px;
    border-bottom: 1px solid var(--light-sky-color);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.contact-profile div:last-child {
    border: none;
}

.profile-groups-label {
    color: var(--dark-sky-color);
    font-weight: 600;
}

.profile-groups {
    color: var(--black-color);
    appearance: none;
    border-style: none;
}

.profile-address {
    background-color: var(--bg-color);
    display: flex;
}

select {
    cursor: pointer;
    outline: none;
    background-color: var(--bg-color);
}

.editMode {
    background-color: var(--light-gray-color);
}

.error {
    color: var(--red-color);
    font-weight: 600;
}